#login {
    width: 480px;
    height: auto;
    border: 1px dotted black;
    margin: 12px;
    padding: 12px;
}

input {
    display: block;
}

#registration {
    width: 480px;
    border: 1px dotted black;
    margin: 12px;
    padding: 12px;
}