<br>
<br>
<br>
<br>
<br>
<br>

<div class="new-quote">
<h2>Add a quote:</h2>

<form (submit)="onSubmit(formData)" #formData="ngForm">

  Content:
  <input
  type="text" 
  name="content"
  [(ngModel)]="newQuote.content"
  #content="ngModel"
  required
  minlength="4">
  <br>

  Author:
  <input
  type="text"
  name='author'
  [(ngModel)]="newQuote.author"
  #author="ngModel"
  required
  minlength="1">
  <br>

  <button type='submit' [disabled]="!formData.valid">Add</button>

</form>
</div>

<div class='validations'>
  <span *ngIf="!content.valid" class='invalid'>Please enter a quote.</span><br>
  <span *ngIf="!author.valid" class='invalid'>Please enter an author.</span>
</div>