<h1>Enter data for new picture here:</h1>
<form action="/new" method="post">
    Cars or Cats?<input type="text">
    Image URL <input type="url" name="" id="">
    <input type="submit" value="Submit">
</form>