div {
    display: inline-block;
}

button {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px dotted black;
}

.clicked {
    background-color: green;
}

.unclicked {
    background-color: red;
}