<h3>New Bike Listing</h3>

<form method="post">

  <!-- all fields are required -->

<label for="title">Title</label>
<input type="text" name="title" id="">

<!-- max 200 chars -->
<label for="description">Description</label>
<input type="text" name="description" id="">

<!-- img preferably by upload, as opposed to by URL -->

<!-- min price $1 -->
<label for="price">Price</label>
<input type="number" name="price" id="">

<label for="location">Location</label>
<input type="text" name="address" id="">

<input type="submit" value="Post">

</form>
