<div class="bike">
        
      <img class="bike-img" src="http://road.cc/sites/default/files/cropped/preview_500/images/Wilier%20Twin%20Foil%20TT/Wilier%20Twin%20Foil%20-%20full%20bike.jpg">
    
      <h2>$6500</h2>
      <h4>Los Angeles, CA</h4>
    
      <div class="bike-info">
        <h3>Willier Racing Bike</h3>
        <p>Pours a slightly hazed, rich, dark amber beer with orange hues. Massive head on this one, three fingers thick, a white
          froth with amazing retention; it really sticks to the glass. (Thanks, hop proteins!) The aromatics are unreal, with
          an aggressive hop scent full of pine, dank resins, spice, grapefruit, rind, pith and a mixed bag of herbal goodies.
          Beneath it all are sweet, syrupy notes of rich tropical fruit like pineapple, ripe honeydew and mango.</p>
      </div>
    
      <button (click)="delete()">DELETE</button>
      <button (click)="contact()">Contact</button>
      

    </div>
